*.log
*.json
*.py
!bot.py
!main.py
!agent.py
!deeplchain.py
*.html
*.txt
!query.txt
!data.txt
*.js
env
session
sessions
*.session
__pycache__
flows*
*-*
disin
!config.json
!proxies.txt
!requirements.txt